In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#look for dupes in each column
#go through and standardize answers in each column
#look for outliers
#look for missing values (add as zeroes)

# Questions to Answer
## 1. How many records do we have per state? How many per school?
## 2. Determine how many missing values you have in each field
## 3. How many bad emails are there? How do you define bad?

# Data Cleaning and Exploratory Data Analysis

In [3]:
df = pd.read_csv ('python&R_exploration_data.csv')
df.head()

,Region,Neighborhood Leadership Team,Date Submitted:,First,Last,Email Address,Phone,Address,City,State,Zip,School 1,School 2,School 3,Status,Membership Level,Events,Notes,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,Aaron,Zuaiter,8835329@gmail.com,NaN,427,Manhattan Beach,CA,90266,KIPP LA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Adele,Zinn,a.chivagirl@gmail.com,(510) 295-9094,3026,Los Angeles,CA,90045,NaN,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Adn,Zindel,acapellagirl@hotmail.com,(310) 770-5447,7863,Los Angeles,CA,90049,Kenter,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Adrian,Zavala,acbrown42@outlook.com,NaN,1 Water Mill,Los angeles,CA,90045,WISH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Adrienne,Zaret,acclee@yahoo.com,(310) 555-5555,10 Serene Lake Place,Los Angeles,CA,90045,Open Magnet Charter School,El Segundo Middle School,El Segundo High School,NaN,NaN,NaN,added 4/28 JK,NaN,NaN

In [4]:
df.shape

(942, 20)

In [5]:
df.columns

Index(['Region', 'Neighborhood Leadership Team', 'Date Submitted:', 'First',
       'Last', 'Email Address', 'Phone', 'Address', 'City', 'State', 'Zip',
       'School 1', 'School 2', 'School 3', 'Status', 'Membership Level',
       'Events', 'Notes', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['region', 'neighborhood_leadership_team', 'date_submitted:', 'first',
       'last', 'email_address', 'phone', 'address', 'city', 'state', 'zip',
       'school_1', 'school_2', 'school_3', 'status', 'membership_level',
       'events', 'notes', 'unnamed:_18', 'unnamed:_19'],
      dtype='object')

In [7]:
df.columns = df.columns.str.replace(":", "")
df.columns

Index(['region', 'neighborhood_leadership_team', 'date_submitted', 'first',
       'last', 'email_address', 'phone', 'address', 'city', 'state', 'zip',
       'school_1', 'school_2', 'school_3', 'status', 'membership_level',
       'events', 'notes', 'unnamed_18', 'unnamed_19'],
      dtype='object')

In [8]:
#2. how many missing values you have in each field
df.isnull().sum()

region                          899
neighborhood_leadership_team    899
date_submitted                  895
first                             0
last                              0
email_address                     1
phone                           398
address                           4
city                              2
state                            54
zip                               8
school_1                        224
school_2                        842
school_3                        913
status                          523
membership_level                569
events                          897
notes                           753
unnamed_18                      927
unnamed_19                      929
dtype: int64

In [9]:
#fill null here
#blank: team, date, first, last, email, phone, address, city, state, zip, schools, status, level, events, notes, unnameds
#0: region?

In [10]:
#look for dupes in columns
df.duplicated().sum()

np.int64(0)

In [11]:
title_columns = ['first', 'last', 'city', 'school_1','school_2', 'school_3', 'status', 'events', 'unnamed_18', 'unnamed_19']

for col in title_columns:
    df[col] = df[col].str.title()
print(df)

     region neighborhood_leadership_team  date_submitted     first  \
0       NaN                          NaN             NaN     Aaron
1       NaN                          NaN             NaN     Adele
2       NaN                          NaN             NaN       Adn
3       NaN                          NaN             NaN    Adrian
4       NaN                          NaN             NaN  Adrienne
..      ...                          ...             ...       ...
937     NaN                          NaN             NaN       Zak
938     NaN                          NaN             NaN       Zed
939     NaN                          NaN             NaN     Zhila
940     NaN                          NaN             NaN    Zoanne
941     NaN                          NaN  5/11/2017 0:24       Zoe

            last              email_address           phone  \
0        Zuaiter          8835329@gmail.com             NaN
1           Zinn      a.chivagirl@gmail.com  (510) 295-9094
2         Zindel   acapellagirl@hotmail.com  (310) 770-5447
3         Zavala      acbrown42@outlook.com             NaN
4          Zaret           acclee@yahoo.com  (310) 555-5555
..           ...                        ...             ...
937       Abroms       zhila.ross@yahoo.com  (310) 573-2177
938  Abercrombie     Zoehotchko@hotmail.com             NaN
939         Abdi  Zoya_shahrivari@yahoo.com             NaN
940   Abbaszadeh       zzxpacheco@gmail.com             NaN
941        Aaron                        NaN  (310) 722-2996

                  address               city state    zip  \
0                     427    Manhattan Beach    CA  90266
1                    3026        Los Angeles    CA  90045
2                    7863        Los Angeles    CA  90049
3            1 Water Mill        Los Angeles    CA  90045
4    10 Serene Lake Place        Los Angeles    CA  90045
..                    ...                ...   ...    ...
937             Robinwood  Pacific Palisades    CA  90272
938             Robinwood        Los Angeles    CA  90042
939                   NaN        Los Angeles    CA  90025
940                   NaN        Los Angeles    CA  90064
941                   NaN      Playa Del Rey    CA  89293

                              school_1                  school_2  \
0                              Kipp La                       NaN
1                                  NaN                       NaN
2                               Kenter                       NaN
3                                 Wish                       NaN
4           Open Magnet Charter School  El Segundo Middle School
..                                 ...                       ...
937  Paul Revere Charter Middle School                       NaN
938              Eagle Rock Montessori                       NaN
939                                NaN                       NaN
940  Citizens Of The World - Mar Vista                       NaN
941                             Canyon                       NaN

                   school_3  status membership_level events          notes  \
0                       NaN     NaN              NaN    NaN            NaN
1                       NaN  Parent                1    NaN            NaN
2                       NaN  Parent                1    NaN            NaN
3                       NaN     NaN              NaN    NaN            NaN
4    El Segundo High School     NaN              NaN    NaN  added 4/28 JK
..                      ...     ...              ...    ...            ...
937                     NaN     NaN              NaN    NaN   added 5/9 kb
938                     NaN  Parent                1    NaN            NaN
939                     NaN  Parent                1    NaN            NaN
940                     NaN  Parent                1    NaN            NaN
941                     NaN  Parent                1    NaN            NaN

    unnamed_18 unnamed_19
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
..         ...        ...
937        NaN        NaN
938        NaN        NaN
939        NaN        NaN
940        NaN        NaN
941        NaN        NaN

[942 rows x 20 columns]

In [12]:
#looking for duplicates in categorical values
#split status into status_1, status_2, status_3
#unnamed_18 is also status, will need to be broken up
#rename 19 as time_commitment
#should columns be split up? for this example (unnamed_19), should i write something to rank values? If level 3, then select, otherwise level 2, etc.

unique_col = df.drop(['date_submitted','first','last','email_address', 'city', 'state', 'zip','phone','address', 'school_1','school_2', 'school_3', 'notes'], axis=1)


for col in unique_col:
    print(col)
    print(df[col].unique())

region
[nan  1.  4.  2.]
neighborhood_leadership_team
[nan 'B' 'J' 'C' 'E' 'F' 'A' 'D']
status
[nan 'Parent' 'Community Member' 'Parent, Community Member'
 'I Would Like To Join Speak Up' 'Teacher' 'Administrator' 'Other'
 'Grandparent' 'Parent, Teacher' 'Parent, Community Member, Other'
 'Parent, Community Member, Teacher' '1'
 'Parent, Community Member, Administrator, Other' 'Administrator, Other'
 'I Would Like To Join Speak Up, I Am Already A Member Of Speak Up'
 'Parent, Other' 'Community Member, Teacher'
 'Parent, Community Member, Teacher, Administrator'
 'Parent, Community Member, Teacher, Administrator, Other' 'Student'
 'Parent, Administrator' 'Community Member, Other']
membership_level
[nan '1' '2' '3' 'Shana' 'Jenn M' 'Tracy/Janin']
events
[nan 'Westwood' 'Westwood; Palisades' 'Palisades'
 'Westchester, Westwood, Palisades' 'Westchester (Host)' 'Westchester'
 'Westwood (Host)' 'Westchester, Westwood' '1']
unnamed_18
[nan 'Community Member, Administrator, Other' 'Parent'
 'Community Member, Other' 'Other'
 'Level 1 Speak Up Member (No Time Commitment)' 'Administrator'
 'Parent, Community Member' 'Parent, Community Member, Teacher, Other'
 'Community Member']
unnamed_19
[nan 'Level 2 Speak Up Ambassador (2-5 Hours / Month)'
 'Level 1 Speak Up Member (No Time Commitment)'
 'Level 3 Speak Up Leadership Corps (5-10 Hours / Month)'
 'Level 2 Speak Up Ambassador (2-5 Hours / Month), Level 3 Speak Up Leadership Corps (5-10 Hours / Month)']

In [13]:
df.dtypes
#change date submitted to datetime64
#change region to int
#for obj, lowercase and remove spaces

region                          float64
neighborhood_leadership_team     object
date_submitted                   object
first                            object
last                             object
email_address                    object
phone                            object
address                          object
city                             object
state                            object
zip                              object
school_1                         object
school_2                         object
school_3                         object
status                           object
membership_level                 object
events                           object
notes                            object
unnamed_18                       object
unnamed_19                       object
dtype: object

In [14]:
df.dtypes.value_counts()

object     19
float64     1
Name: count, dtype: int64

In [15]:
df.dtypes

region                          float64
neighborhood_leadership_team     object
date_submitted                   object
first                            object
last                             object
email_address                    object
phone                            object
address                          object
city                             object
state                            object
zip                              object
school_1                         object
school_2                         object
school_3                         object
status                           object
membership_level                 object
events                           object
notes                            object
unnamed_18                       object
unnamed_19                       object
dtype: object

In [16]:
df["date_submitted"] = pd.to_datetime(df['date_submitted'])

In [17]:
df.head()

,region,neighborhood_leadership_team,date_submitted,first,last,email_address,phone,address,city,state,zip,school_1,school_2,school_3,status,membership_level,events,notes,unnamed_18,unnamed_19
0,NaN,NaN,NaT,Aaron,Zuaiter,8835329@gmail.com,NaN,427,Manhattan Beach,CA,90266,Kipp La,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,Adele,Zinn,a.chivagirl@gmail.com,(510) 295-9094,3026,Los Angeles,CA,90045,NaN,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaT,Adn,Zindel,acapellagirl@hotmail.com,(310) 770-5447,7863,Los Angeles,CA,90049,Kenter,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
3,NaN,NaN,NaT,Adrian,Zavala,acbrown42@outlook.com,NaN,1 Water Mill,Los Angeles,CA,90045,Wish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaT,Adrienne,Zaret,acclee@yahoo.com,(310) 555-5555,10 Serene Lake Place,Los Angeles,CA,90045,Open Magnet Charter School,El Segundo Middle School,El Segundo High School,NaN,NaN,NaN,added 4/28 JK,NaN,NaN

In [18]:
for col in df.columns:
    print(col)
    print(df[col].unique()[:5])
    print(df[col].nunique())
    print()
#Unnamed: 18 is a status, can be a category
#Unnamed: 19 is time commitment
#membership level can be category

region
[nan  1.  4.  2.]
3

neighborhood_leadership_team
[nan 'B' 'J' 'C' 'E']
7

date_submitted
<DatetimeArray>
[                'NaT', '2017-05-14 21:56:00', '2017-08-14 02:29:00',
 '2017-08-23 17:12:00', '2017-08-25 09:38:00']
Length: 5, dtype: datetime64[ns]
47

first
['Aaron' 'Adele' 'Adn' 'Adrian' 'Adrienne']
572

last
['Zuaiter' 'Zinn' 'Zindel' 'Zavala' 'Zaret']
804

email_address
['8835329@gmail.com' 'a.chivagirl@gmail.com' 'acapellagirl@hotmail.com'
 'acbrown42@outlook.com' 'acclee@yahoo.com']
904

phone
[nan '(510) 295-9094' '(310) 770-5447' '(310) 555-5555' '(310) 339-8951']
452

address
['427' '3026' '7863' '1 Water Mill' '10 Serene Lake Place']
876

city
['Manhattan Beach' 'Los Angeles' 'Pacific Palisades' 'Culver City' 'None']
68

state
['CA' nan 'CA 90292 USA' '90272' '90077']
10

zip
['90266' '90045' '90049' '90066' '90034']
110

school_1
['Kipp La' nan 'Kenter' 'Wish' 'Open Magnet Charter School']
192

school_2
[nan 'El Segundo Middle School' 'Gala' 'Paul Revere'
 'Palisades Charter High School']
64

school_3
[nan 'El Segundo High School' 'Calvert Es' 'New West'
 'I Would Like To Join Speak Up']
13

status
[nan 'Parent' 'Community Member' 'Parent, Community Member'
 'I Would Like To Join Speak Up']
22

membership_level
[nan '1' '2' '3' 'Shana']
6

events
[nan 'Westwood' 'Westwood; Palisades' 'Palisades'
 'Westchester, Westwood, Palisades']
9

notes
[nan 'added 4/28 JK' 'added 5/9 kb' 'added 5.4kb' 'added 5/6 kb']
14

unnamed_18
[nan 'Community Member, Administrator, Other' 'Parent'
 'Community Member, Other' 'Other']
9

unnamed_19
[nan 'Level 2 Speak Up Ambassador (2-5 Hours / Month)'
 'Level 1 Speak Up Member (No Time Commitment)'
 'Level 3 Speak Up Leadership Corps (5-10 Hours / Month)'
 'Level 2 Speak Up Ambassador (2-5 Hours / Month), Level 3 Speak Up Leadership Corps (5-10 Hours / Month)']
4

In [21]:
df['phone'] = df['phone'].apply(lambda x:str(x))

In [22]:
#clean phone numbers

phone_regex = '[^a-zA-Z0-9]'
df['phone'] = df['phone'].str.replace(phone_regex, '', regex=True)
df['phone'] = df['phone'].apply(lambda x: '(' + x[0:3]+ ')' + ' ' + x[3:6] + '-' + x[6:10])
df['phone'] = df['phone'] .str.replace('(nan) -','')
df['phone'] = df['phone'] .str.replace('() -','')
df.head()

,region,neighborhood_leadership_team,date_submitted,first,last,email_address,phone,address,city,state,zip,school_1,school_2,school_3,status,membership_level,events,notes,unnamed_18,unnamed_19
0,NaN,NaN,NaT,Aaron,Zuaiter,8835329@gmail.com,,427,Manhattan Beach,CA,90266,Kipp La,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaT,Adele,Zinn,a.chivagirl@gmail.com,(510) 295-9094,3026,Los Angeles,CA,90045,NaN,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaT,Adn,Zindel,acapellagirl@hotmail.com,(310) 770-5447,7863,Los Angeles,CA,90049,Kenter,NaN,NaN,Parent,1,NaN,NaN,NaN,NaN
3,NaN,NaN,NaT,Adrian,Zavala,acbrown42@outlook.com,,1 Water Mill,Los Angeles,CA,90045,Wish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaT,Adrienne,Zaret,acclee@yahoo.com,(310) 555-5555,10 Serene Lake Place,Los Angeles,CA,90045,Open Magnet Charter School,El Segundo Middle School,El Segundo High School,NaN,NaN,NaN,added 4/28 JK,NaN,NaN

In [23]:
#bad email address
#email regex follows most standard email formats (name@domain.com)
#there are 5 bad emails
#NOTE: Delete bad emails

email_regex = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
df['email_address'] = df['email_address'].astype(str)
invalid_email = df[(df['email_address'] != 'nan') & ~df['email_address'].str.match(email_regex)]
print("Invalid email addresses:")
print(invalid_email[['email_address']])

Invalid email addresses:
                                        email_address
143                                    (310) 454-5650
171           davidglazov@yahoo.com; dg7881@yahoo.com
243                               Emiriny@hotmail@com
252                            Fariba.goharchin@gmail
777  Sheri.wittson@gmail.com; Sheriillana@hotmail.com

In [24]:
#clean zip codes
zip_regex = r'^\d{5}(-\d{4})?$'
df['zip'] = df['zip'].astype(str)
invalid_zip = df[(df['zip'] != 'nan') & ~df['zip'].str.match(zip_regex)]
print("Invalid zip:")
print(invalid_zip[['zip']])

Invalid zip:
      zip
425  9024
820  9103
833    CA

In [25]:
#clean state

state_regex = r'^[A-Z]{2}$'
df['state'] = df['state'].astype(str)
invalid_state = df[(df['state'] != 'nan') & ~df['state'].str.match(state_regex)]
print("Invalid state:")
print(invalid_state[['state']])

Invalid state:
            state
81   CA 90292 USA
157         90272
231         90077
236         90066
256          Ohio
504         90272
681         90049
800  Ca 90272 USA
801  Ca 90272 USA
878         90024